HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Secrets e credenciais ###
.env
.env.*
*.pem
*.key
infra/ansible/files/voce-aluga
!infra/ansible/files/voce-aluga.pub

### Terraform ###
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
*.tfvars
!infra/terraform/terraform.tfvars.example

### DevOps / local ###
.sonar/
.scannerwork/
*.log
