<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.idCliente}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.email}"></td>
                <td>
                    <a th:href="@{'/clientes/' + ${cliente.idCliente}}">Editar</a> | 
                    <a th:href="@{/clientes/delete/{id}(id=${cliente.idCliente})}" th:onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a href="/clientes/form">Cadastrar Novo Cliente</a>
</body>
</html>
